.card {
    transition: transform 0.3s ease-in-out;
    
}

.card:hover {
    transform: scale(1.03);
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #171923;
    border-radius: 10px;
}


.aside {
    height: calc(100vh - 95px);
    position: sticky;
    top: calc(60px + 1rem);
    margin-top: 1rem;
}

.logo {
    animation: 4s linear 0s infinite running myRotate;
    color: blue;
}




@keyframes myRotate{
    100%{transform: rotateY(360deg);}
    
}

.like {
    animation: 4s linear 0s infinite running myRotate;
}

.close {
    animation: 10s linear 0s infinite running mySlide;
}

@keyframes mySlide{
    from{margin-left: 0;}
    to{margin-left: 100%;}
}